version: '3.8'

services:
  test_runner:
    build:
      context: ..
      dockerfile: .docker/dockerfile
      target: api # Asume que el 'api' tiene las dependencias de test
    container_name: {{PROJECT_NAME}}-test-runner
    # El comando a ejecutar depende del stack, esto es un ejemplo para FastAPI/Poetry
    command: ["poetry", "run", "pytest"]
    env_file:
      - ./.env.example