# Puertos de la aplicación
APP_PORT=8000
FRONTEND_PORT=5173

# Credenciales de la Base de Datos (ejemplo para PostgreSQL)
# DB_HOST=db
# DB_USER=postgres
# DB_PASSWORD=mysecretpassword
# DB_NAME=mydb
# DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}"

# Secretos de Autenticación
# JWT_SECRET=supersecretkey